.buttons {
    color: #black;
    border-radius: 6px;
    padding: 12px;
    margin: 3px 10px;
    font-size: 30px;
}

.increase {
    background-color: rgb(186, 216, 170);
}

.decrease {
    background-color: rgb(212, 145, 145);
}
